/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  width: 100vw;
  height: 100vh;
}
/* 기본 CSS 구조 정의 */
* {
  margin: 0;
  padding: 0;
  border: 0;

  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: bold;
}

p {
  font-size: 1rem;
}
